* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #874859;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(205, 137, 137, 0.5); 
    z-index: -1; 
}

.container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    border: 4px solid #e4a2b4;
    border-radius: 25px;
    margin-bottom: 15px;
}

button {
    background-color: #e4a2b4;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px 20px; 
    border-radius: 25px;
    font-size: 16px;
}

button:hover {
    background-color: #d48a9b; 
}

#result, #explanation {
    margin: 10px;
    text-align: center;
    font-size: 16px;
}
